<div class="wrapper">
  <p class="title">Delineations</p>
    <div class="wrapper__content">
      <div class="results">
        <p>TESddddddddT</p>
        <p>TEST</p>
        <p>TEST</p>
      </div>
  
    <div class="forms">
      <div class="import">
        <%= form_for :csv_import, url: delineation_import_csv_path do |f| %>
          <%= f.label :file, "Upload CSV File" %>
          <%= f.file_field :file, required: true %>
          <%= f.time_select :time %>
          <%= f.date_select :date %>
          <%= f.button :submit %>
        <% end %>
      </div>
      <div class="export">
        <p>TEST</p>
      </div>
    </div>
  </div>
</div>