<div class="wrapper">
  <p class="title">Delineations</p>
    <div class="wrapper__content">
      <div class="results">
        <p>TESddddddddT</p>
        <p>TEST</p>
        <p>TEST</p>
      </div>
  
    <div class="forms">
      <div class="import">
      <p>Upload your CSV file</p>
        <%= form_for :csv_import, url: delineation_import_csv_path do |f| %>
          <%= f.file_field :file, required: true %>
          <div><%= f.time_select :time, required: true %></div>
          <div><%= f.date_select :date, required: true %></div>
          <div><%= f.button :submit %></div>
        <% end %>
      </div>
      <div class="export">
        <p>TEST</p>
      </div>
    </div>
  </div>
</div>